body {
    margin: 10px;
}


.reloj {
    background: linear-gradient(#ddd,#eee,#ddd);
    background-image: url("reloj.png");
    background-position: center center;
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 1000px;
    border: solid grey 2px;
    margin: 0 auto;
    position: relative;
}

.aguja-hora {
    margin: auto;
    width: 3px;
    height: 3px;
    border-top: solid 100px black;
    border-bottom: solid 100px transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.aguja-minutos {
    margin: auto;
    width: 6px;
    height: 6px;
    border-top: solid 150px red;
    border-bottom: solid 150px transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.aguja-segundos {
    margin: auto;
    width: 1px;
    height: 1px;
    border-top: solid 220px yellow;
    border-bottom: solid 220px transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.aguja-hora {
    transform: rotateZ(0deg);
}

.aguja-minutos{
    transform: rotateZ(0deg);
}


